<div class="nested-fields recipe_wrapper">
  <p class= "field">
    <%= f.label :description, "Next Step" %>
    <%= f.text_field :description %>
    <p>
      <%= link_to_remove_association "Remove Direction", f, class: "link" %>
    </p>
  </p>
</div>
