<div class="nested-fields">
  <p class= "field">
    <%= f.label :name, "New Food Item" %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= link_to_remove_association "Don't Create New Food Item", f, class: "link" %>
  </p>
</div>
